<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; margin-left: 2em; margin-top: 2em;">
        <div style="display: flex; flex-direction: row">
            <div style="border: 1px solid black; padding: 10px; height: 60px; width: 100px;">Image</div>
            <div style="display: flex; flex-direction: column; margin-left: 1em;">
                <div style="border: 1px solid black; padding: 10px;">program</div>
                <div style="display: flex; flex-direction: row;">
                    <div style="border: 1px solid black; padding: 10px;">icon</div>
                    <div style="border: 1px solid black; padding: 10px;">location</div>
                </div>
            </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-top: 1em;">
            <div style="border: 1px solid black; padding: 10px;">calendar</div>
            <div style="border: 1px solid black; padding: 10px;">start date to</div>

            <!-- 0/10 -->
            <div style="border: 1px solid black; padding: 10px; margin-right:2em; margin-left: auto;">0/10</div>
        </div>

        <div style="display: flex; flex-direction: row;">
            <div style="border: 1px solid black; padding: 10px;">calendar</div>
            <div style="border: 1px solid black; padding: 10px;">end date</div>

            <!-- requests left -->
            <div style="border: 1px solid black; padding: 10px; margin-right:2em; margin-left: auto;">requests left</div>
        </div>

    </div>
</body>
</html>